.search-box-content {
    padding: 5px 10px;
}

.search-box .form-control {
    font-family: FontAwesome;
}

.btn-search-type.btn-danger {
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}

.btn-search-type.btn-unfocus {
    border-color: #bdc3c7 !important;
    color: #bdc3c7 !important;
}

.search-box-content .input-group-btn .btn-search {
    font-size: 22px;
    border-radius: 6px;
    height: 55px;
    margin: 0 5px 0 0;
}

.form-search input::-webkit-input-placeholder:before {
    content: '\f002\00a0';
}

.form-search input::-webkit-input-placeholder:after {
    content: '...';
}

.form-search input::-moz-placeholder:before {
    content: '\f002\00a0';
}

.form-search input::-moz-placeholder:after {
    content: '...';
}

.form-search input:-ms-input-placeholder:before {
    content: '\f002\00a0';
}

.form-search input:-ms-input-placeholder:after {
    content: '...';
}

.paginator-wrapper {
    text-align: center;
}

.img-flag {
    max-width: 30px;
}

@media (min-width: 768px) {
    a[target="_blank"]:hover::after {
        font-family: FontAwesome;
        content: '\00a0\f08e';
        font-size: .9em;
    }
}

@media (max-width: 767px) {
    a[target="_blank"]::after {
        font-family: FontAwesome;
        content: '\00a0\f08e';
        font-size: .9em;
    }
}

.navbar-nav form button, .navbar-nav form input {
    margin: 5px 0;
}

.navbar-nav .dropdown-menu {
    width: 300px;
}

.media-body hr {
    margin: 5px 0;
}

.article-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 768px) {
    .drug-list-thumbnail {
        width: 120px;
        max-width: 120px;
        height: 120px;
        max-height: 120px;
    }

    .drug-list-thumbnail > p {
        margin-top: 40px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .drug-list-thumbnail {
        width: 80px;
        max-width: 80px;
        height: 80px;
        max-height: 80px;
    }

    .drug-list-thumbnail > p {
        margin: 5px 10px;
        text-align: center;
    }
}

.article-permalink a {
    word-break: break-all;
}

.search-helper-text .alert {
    text-align: center;
}

.text-english-name {
    color: #7f8c8d;
}

.chart-wrapper {
    width: 85%;
    margin: 15px auto;
}

.zoom:after {
    content: '\e630';
    font-family: 'Flat-UI-Pro-Icons';
    width: 32px;
    position: absolute;
    bottom: 5px;
    right: 12px;
}

.zoom img::selection {
    background-color: transparent;
}

.drug-label a {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

@media (max-width: 767px) {
    dt {
        background-color: #f1f1f1;
        font-size: 20px;
        margin: .8em auto;
    }

    dd {
        width: 100%;
        word-break: break-all;
    }
}

@media (max-width: 480px) {
    .pagination-plain > li.next {
        float: initial;
        padding-left: 0px;
    }

    .pagination-plain > li.previous {
        display: initial;
        padding-right: 0px;
    }
}
