.search-box-content {
    padding: 5px 10px;
}

.search-box .form-control {
    font-family: FontAwesome;
}

#btn-search-type.btn-danger {
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}

#btn-search-type.btn-unfocus {
    border-color: #bdc3c7 !important;
    color: #bdc3c7 !important;
}

.search-box-content .input-group-btn .btn-search {
    font-size: 22px;
    border-radius: 6px;
    height: 55px;
    margin: 0 5px 0 0;
}

.form-search input::-webkit-input-placeholder:before {
    content: '\f002\00a0';
}

.form-search input::-webkit-input-placeholder:after {
    content: '...';
}

.form-search input::-moz-placeholder:before {
    content: '\f002\00a0';
}

.form-search input::-moz-placeholder:after {
    content: '...';
}

.form-search input:-ms-input-placeholder:before {
    content: '\f002\00a0';
}

.form-search input:-ms-input-placeholder:after {
    content: '...';
}

.paginator-wrapper {
    text-align: center;
}

.img-flag {
    max-width: 30px;
}

a[target="_blank"]:hover::after {
    font-family: FontAwesome;
    content: '\00a0\f08e';
    font-size: .9em;
}

.navbar-nav form button, .navbar-nav form input {
    margin: 5px 0;
}

.navbar-nav .dropdown-menu {
    width: 300px;
}

/*.drug-preview svg {
    width: 60px;
    height: 60px;
}

.drug-preview svg .str0 {
    stroke: #7f8c8d;
    stroke-width: 25px;
}
.drug-preview svg .fil0 {
    fill: #e74c3c;
}*/

.media-body hr {
    margin: 5px 0;
}

.article-list-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.outwrad-thumbnail {
    width: 120px;
    max-width: 120px;
}

.article-share-link {
    word-break: break-all;
}

.search-helper-text .alert {
    text-align: center;
}