.text-ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.navbar-collapse.collapsing[aria-expanded=false] {
    display: none;
}

.search-box-content {
    padding: 5px 10px;
}

.search-box .form-control {
    font-family: FontAwesome;
}

.btn-search-type.btn-danger {
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}

.btn-search-type.btn-unfocus {
    border-color: #bdc3c7 !important;
    color: #bdc3c7 !important;
}

.search-box-content .input-group-btn .btn-search {
    font-size: 22px;
    border-radius: 6px;
    height: 55px;
    margin: 0 5px 0 0;
}

.form-search input::-webkit-input-placeholder:before {
    content: '\f002\00a0';
}

.form-search input::-webkit-input-placeholder:after {
    content: '...';
}

.form-search input::-moz-placeholder:before {
    content: '\f002\00a0';
}

.form-search input::-moz-placeholder:after {
    content: '...';
}

.form-search input:-ms-input-placeholder:before {
    content: '\f002\00a0';
}

.form-search input:-ms-input-placeholder:after {
    content: '...';
}

.paginator-wrapper {
    text-align: center;
}

.img-flag {
    max-width: 30px;
}

@media (min-width: 768px) {
    a[target="_blank"]:not(.no-hover-icon):hover::after {
        font-family: FontAwesome;
        content: '\00a0\f08e';
        font-size: .9em;
    }
}

@media (max-width: 767px) {
    a[target="_blank"]:not(.no-hover-icon)::after {
        font-family: FontAwesome;
        content: '\00a0\f08e';
        font-size: .9em;
    }
}

.navbar-nav form button, .navbar-nav form input {
    margin: 5px 0;
}

.navbar-nav .dropdown-menu {
    width: 300px;
}

.media-body hr {
    margin: 5px 0;
}

.article-link {
    display: inline;
    vertical-align: top;
}

@media (min-width: 768px) {
    .drug-list-thumbnail {
        width: 120px;
        max-width: 120px;
        height: 120px;
        max-height: 120px;
    }

    .drug-list-thumbnail > p {
        margin-top: 40px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .drug-list-thumbnail {
        width: 80px;
        max-width: 80px;
        height: 80px;
        max-height: 80px;
    }

    .drug-list-thumbnail > p {
        margin: 5px 10px;
        text-align: center;
    }
}

.article-permalink a {
    word-break: break-all;
}

.search-helper-text .alert {
    text-align: center;
}

.text-english-name {
    color: #7f8c8d;
}

.chart-wrapper {
    width: 85%;
    margin: 15px auto;
}

.zoom:after {
    content: '\e630';
    font-family: 'Flat-UI-Pro-Icons';
    width: 32px;
    position: absolute;
    bottom: 5px;
    right: 12px;
}

.zoom img::selection {
    background-color: transparent;
}

.drug-label a {
    display: inline-block;
}

@media (max-width: 767px) {
    dt {
        background-color: #f1f1f1;
        font-size: 20px;
        margin: .8em auto;
    }

    dd {
        width: 100%;
        word-break: break-all;
    }
}

@media (max-width: 767px) {
    .pagination-plain > li.next {
        float: initial;
    }

    .pagination-plain > li.previous {
        display: initial;
    }
}

.order-btn-wrapper {
    text-align: center;
    margin: .5em 0;
}

@media (min-width: 768px) {
    .order-btn-wrapper > ul {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .order-btn-wrapper > ul {
        display: initial;
    }
}

.fui-location {
    color: #f35048;
}

.map-toggle-btn {
    cursor: pointer;
}

.full-content {
    width: 100%;
    height: 10em;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.full-content-mask {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10em;
    background: rgba(245,245,245,0);
    background:    -moz-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    background:      -o-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    background:     -ms-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,0)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    background:  linear-gradient(to bottom, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.full-content-mask .btn-read-more {
    min-width: 100px;
    position: absolute;
    bottom: 25%;
}

@media (min-width: 768px) {
    .full-content-mask .btn-read-more {
        width: 30%;
        left: 35%;
    }
}

@media (max-width: 767px) {
    .full-content-mask .btn-read-more {
        width: 60%;
        left: 20%;
    }
}

.badge {
    font-size: 16px;
    background-color: #3498db;
}

.loading-indicator {
  width: 40px;
  height: 40px;
  background-color: #34495e;

  margin: 20px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.ingredient-event-loading p {
    text-align: center;
}

.ad-box {
    text-align: center;
    margin: 1.5em 0;
}

.ad-box img {
    width: 90%;
}